<?xml version="1.0"?>

<launch>
  <arg name="x" default="0"/>
	<arg name="y" default="0"/>
	<arg name="z" default="0"/>

  <arg name="base_length" default="0.5"/>
  <arg name="base_width" default="0.5"/>
  <arg name="base_height" default="0.1"/>

  <arg name="column_length" default="0.25"/>
  <arg name="column_dia" default="0.2"/>

  <arg name="upper_arm_length" default="0.25"/>
  <arg name="upper_arm_dia" default="0.1"/>

  <arg name="lower_arm_length" default="0.25"/>
  <arg name="lower_arm_dia" default="0.1"/>

  <arg name="wrist_roll_length" default="0.05"/>
  <arg name="wrist_roll_dia" default="0.1"/>

  <arg name="eef_length" default="0.1"/>
  <arg name="eef_width" default="0.025"/>

  <!-- LOAD ROBOT -->
  <param name="/chipsy_arm/robot_description" command="$(find xacro)/xacro $(find chipsy_description)/urdf/chipsy_arm.xacro"/>

  <!-- PUSH THE ARM DETAILS TO PARAM SERVER -->
  <param name="/chipsy_arm/base_length" value="0.5"/>
  <param name="/chipsy_arm/base_width" value="0.5"/>
  <param name="/chipsy_arm/base_height" value="0.1"/>

  <param name="/chipsy_arm/column_length" value="0.25"/>
  <param name="/chipsy_arm/column_dia" value="0.2"/>

  <param name="/chipsy_arm/upper_arm_length" value="0.25"/>
  <param name="/chipsy_arm/upper_arm_dia" value="0.1"/>

  <param name="/chipsy_arm/lower_arm_length" value="0.25"/>
  <param name="/chipsy_arm/lower_arm_dia" value="0.1"/>

  <param name="/chipsy_arm/wrist_roll_length" value="0.05"/>
  <param name="/chipsy_arm/wrist_roll_dia" value="0.1"/>

  <param name="/chipsy_arm/eef_length" value="0.1"/>
  <param name="/chipsy_arm/eef_width" value="0.025"/>

  <!-- SPAWN ROBOT -->
  <node name="spawn_chipsy_arm" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -param robot_description -model chipsy_arm -x $(arg x) -y $(arg y) -z $(arg z)"/>

  <!-- LOAD JOINT CONFIGURATION -->
  <rosparam file="$(find chipsy_description)/config/chipsy_arm_control.yaml" command="load" ns="/chipsy_arm"/>

  <!-- LOAD THE CONTROLLER -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="--namespace=/chipsy_arm
     chipsy_arm/column_to_base_joint_position_controller
     chipsy_arm/upper_arm_to_column_joint_position_controller chipsy_arm/lower_arm_to_upper_arm_joint_position_controller
     chipsy_arm/wrist_roll_to_lower_arm_joint_position_controller chipsy_arm/right_eef_to_wrist_roll_joint_position_controller
     chipsy_arm/left_eef_to_wrist_roll_joint_position_controller chipsy_arm/joint_state_controller"/>

  <!-- PUBLISH THE JOINT STATES -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
  </node>

</launch>
